/*Variables*/
:root {
    --main-bg-color: rgb(255, 255, 255);
    --main-text-color: rgb(0, 0, 0);
    --main-text-color-light: rgb(255, 255, 255);
    --main-text-font: 'Roboto', sans-serif;
    --main-header-color: rgb(72, 155, 76);
    --dark-header-color: rgb(50,100,50);
    --article-bg-color: rgb(189, 236, 182);
    --main-header-text-color: rgb(0, 0, 0);
    --main-header-text-font:   Orbitron, serif;
    --main-button-color: rgb(72, 155, 76);
    --main-button-color-hover: rgb(50,100,50);
    --main-button-text-color: rgb(0, 0, 0);
    --text-secondary-color: rgb(90, 90, 90);
}

/*Global*/
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:auto,100%;
  background-color: var(--main-bg-color);
  background-position: top;
    color: var(--main-text-color);
    font-family: var(--main-text-font);
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/*Header*/
header {
    background-color: var(--main-header-color);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    overflow: visible;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    z-index: 2;
}

#header-link{
    color: var(--main-header-text-color);
    text-decoration: none;
    font-family: var(--main-header-text-font);
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

#header-logo {
    margin: 0.5em;
    padding: 0;
    width: 4em;
    height: 4em;
}

#header-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    color: var(--main-header-text-color);
    text-align: center;
    font-family: var(--main-header-text-font);
    font-size: 3em;
}

#header-dropdown {
    position: relative;
    width: 9em;
    float: right;

  }
  #header-dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  #header-dropdown:hover{
    background-color: var(--dark-header-color);
  }

  #header-dropdown:hover #header-dropdown-content {
    display: block;
  }
  #header-dropdown-content a {
    display: block;
    color: var(--main-header-text-color);
    background-color: var(--main-header-color);
    padding: 0.5em;
    text-decoration: none;
  }
  #header-dropdown-content a:hover {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
  }

  #menu-button {
    width: 4em;
    height: 4em;
    padding-left: 30%;
    display: block;

  }

  /*Footer*/

  #footer-social {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
    overflow: visible;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 4em;
    bottom: 1em;
    position: fixed;	

  }

  #footer-social img{
    margin: 0;
    padding: 0.5em;
    height: 4em;
  }

  /*Navigation*/

  section{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: top;
    flex-direction: row;
    overflow: visible;
    margin: 1em;
    padding: 1em;
  }
  
  aside{
    display: flex;
    position: sticky;
    top: 2em;
    z-index: -2;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    overflow: visible;
    height: 100%;
    margin: 1em;
  }
  
  article{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    height: 10%;
  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1em;
    padding: 1em;
    width: 100%;
  }

  .article-and-image {
    display: flex;
    padding: 1em;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    overflow: visible;
    background-color: var(--article-bg-color);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }

  /*Text*/

  h2 {
    margin: 0;
    padding-left: 0.5em;
    color: var(--main-text-color);
    text-align: center;
    font-family: var(--main-text-font);
    font-size: 2.5em;
    font-style: italic;
  }

  h3{
    margin: 0;
    padding: 0;
    color: var(--text-secondary-color);
    text-align: left;
    font-family: var(--main-text-font);
    font-size: 2em;
    font-weight: 400;
    text-emphasis: bold;
    text-decoration: underline;
  }

  p {
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
    text-align: left;
    font-family: var(--main-text-font);
    font-size: 2em;
    font-weight: 400;
    line-height: 1.5;
  }

  #centered{
    text-align: center;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 60%;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: self-start;
  flex-direction: row;
  overflow: visible;
  margin: 0;
  padding: 0;
}

.card{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: visible;
  margin: 1em;
  padding: 1em;
  width: 35em;
}

.bigCard{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: visible;
  margin: 1em;
  padding: 1em;
  width: 50em;
}

.smallCard{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: visible;
  margin: 1em;
  padding: 1em;
  width: 50em;
}

 /*Images*/

 .normal-img{
    width: 30em;
    height: 30em;
    margin: 1em;
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .circular-img{
    width: 30em;
    height: 30em;
    margin: 1em;
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }

  .small-img{
    width: 20em;
    height: 20em;
    margin: 0;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .big-img{
    width: 50em;
    height: 50em;
    margin: 0;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /*Buttons*/

  .button {
    background-color: var(--main-button-color);
    border: none;
    color: var(--main-button-text-color);
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin-top:2em;
    margin-bottom:1em;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 5em;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }

  .button:hover {
    background-color: var(--main-button-color-hover);
  }

  .button-img{
    border: none;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    width: 5em;
    height: 5em;

  }

  /*Forms*/

  form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: visible;
    margin: 0;
    padding: 1em;
  }
  form div{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: visible;
    margin: 0;
    padding: 0;
  }

  form input {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: visible;
    margin: 1em;
    padding: 1em;
    width: 2em;
    height: 2em;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }

  /*canvas*/
canvas{
  text-align: center;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 60%;
}

.game{
  padding: 1em;
  width: 60em;
  height: 60em;
}


[class*="encabezado-pagina"] {
  font-size:medium;
}

[class*="contact"] {
  font-size:medium;
  size: 5px;
}


#header-title
{
  font-size: 80%;
}

#content {
  display: flex;
  flex-direction: column;
  margin: 0;
}

@media only screen and (min-width: 768px) {

  .encabezado-pagina {
    font-size: medium;
  }
  .contact{
    font-size: x-large;
  }

  #content {
    display: flex;
    flex-direction: row;
  }


  #header-title
{
  font-size: 200%;
}
}
