.mapouter {
    position: relative;
    text-align:end;
    height: 50em;
    width: 55em;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 50em;
    width: 55em;
}


.indicaciones {
    display: flex;
    padding: 1em;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    overflow: visible;
    background-color: var(--article-bg-color);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }

  
[class*="mapouter"] {

    width: 280px;
    height: 280px; 

}

[class*="gmap_canvas"] {

    width: 280px;
    height: 280px; 

}

#gmap_canvas
{

    width: 280px;
    height: 280px; 

}


[class*="contiene"] {
    top: 140em;
    left: 5px;
    position: absolute;
    width: 97%; 

}

[class*="donde"] {
    font-size: x-large;

}

[class*="indicaciones"] {
    font-size: x-small;
    
}

[class*="donde"] {
    font-size: x-large;
}

@media only screen and (min-width: 768px) {
      
  [class*="mapouter"] {

    height: 50em;
    width: 55em;

}

[class*="gmap_canvas"] {
    height: 50em;
    width: 55em;

}

#gmap_canvas
{

    height: 50em;
    width: 55em;

}


    .contiene{

        height: 2.5em;
        width: 60em;
        left: 60em;
        top: -45em;
        position: relative;
    }

    .donde{
        font-size:5ch;
        
    }

    .indicaciones{ 
        font-size: medium;
    }

}

