<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Orbitron" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>

<body>
    <style>
       body {background-image: url({{ url_for('static', filename='img/Background.png' ) }});}
    </style>
        <header>
            <a id="header-link" href={{ url_for('base') }}>
                <img id="header-logo" src={{ url_for('static', filename='img/Logo.png' ) }} alt="No Logo?">
                <h1 id="header-title">
                    Asociación Videojuegos UAM
                </h1>
            </a>
            <div id="header-dropdown">
                <img id="menu-button" src={{ url_for('static', filename='img/Menu-button.png' ) }} alt="No Menu?">
                <div id="header-dropdown-content">
                    <a>Blog</a>
                    <a>Academy</a>
                    <a>YouTube</a>
                </div>
              </div>
        </header>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <aside>
            {% block aside %}
            {% endblock %}
        </aside>
        <footer>
            <div id="footer-social">
                <a href="https://www.youtube.com/@videojuegosuam1975">
                    <img id="youtube" src={{ url_for('static', filename='img/Youtube.png' ) }} alt="No Youtube?">
                </a>
                <a href="https://www.instagram.com/asociacion_videojuegos_uam/">
                    <img id="instagram" src={{ url_for('static', filename='img/Instagram.png' ) }} alt="No Instagram?">
                </a>
                <a href="https://www.twitch.tv/asociacionvideojuegosuam">
                    <img id="twitch" src={{ url_for('static', filename='img/Twitch.png' ) }} alt="No Twitch?">
                </a>
                <a href="https://discord.gg/C86wHqNguH">
                    <img id="discord" src={{ url_for('static', filename='img/Discord.png' ) }} alt="No Discord?">
                </a>
                <a href="https://github.com/Videojuegos-UAM">
                    <img id="github" src={{ url_for('static', filename='img/Github.png' ) }} alt="No Github?">
                </a>
                <a href="mailto: asociacionvideojuegosuam@gmail.com">
                    <img id="email" src={{ url_for('static', filename='img/Email.png' ) }} alt="No Email?">
                </a>
                <h2>Contáctanos:</h2>
            </div>
        </footer>
</body>

</html>