<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Asociación Videojuegos</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Orbitron" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/Logo.png' ) }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/Logo.png' ) }}">
    {%block head%}
    {%endblock%}
</head>

<body>
    <script>
        $SCRIPT_ROOT = {{ request.script_root | tojson }};
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/Enriqueasteregg.js')}}" ></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/resize.js')}}" ></script>
    <style>
       body {background-image: url({{ url_for('static', filename='img/Background.png' ) }});}
    </style>
        <header>
            <a id="header-link" href={{ url_for('base') }}>
                <img id="header-logo" src={{ url_for('static', filename='img/Logo.png' ) }} alt="No Logo?">
                <h1 id="header-title">
                    Asociación Videojuegos UAM
                </h1>
            </a>
            <div id="header-dropdown">
                <img id="menu-button" src={{ url_for('static', filename='img/Menu-button.png' ) }} alt="No Menu?">
                <div id="header-dropdown-content">
                    <a href={{ url_for('about') }}>Sobre Nosotros</a>
                    <a href={{ url_for('projects') }}>Proyectos</a>
                    <a href={{ url_for('apuntate') }}>Apuntate</a>
                </div>
              </div>
        </header>

        <section id="content">
            <article>
                {% block content %}
                {% endblock %}
            </article>
            <aside>
                {% block aside %}
                {% endblock %}
            </aside>
        </section>
        
        <footer>
            <div id="footer-social">
                <a href="https://www.youtube.com/@videojuegosuam1975">
                    <img id="youtube" src={{ url_for('static', filename='img/Youtube.png' ) }} alt="No Youtube?">
                </a>
                <a href="https://www.instagram.com/asociacion_videojuegos_uam/">
                    <img id="instagram" src={{ url_for('static', filename='img/Instagram.png' ) }} alt="No Instagram?">
                </a>
                <a href="https://www.twitch.tv/asociacionvideojuegosuam">
                    <img id="twitch" src={{ url_for('static', filename='img/Twitch.png' ) }} alt="No Twitch?">
                </a>
                <a href="https://discord.gg/C86wHqNguH">
                    <img id="discord" src={{ url_for('static', filename='img/Discord.png' ) }} alt="No Discord?">
                </a>
                <a href="https://github.com/Videojuegos-UAM">
                    <img id="github" src={{ url_for('static', filename='img/Github.png' ) }} alt="No Github?">
                </a>
                <a href="mailto: asociacionvideojuegosuam@gmail.com">
                    <img id="email" src={{ url_for('static', filename='img/Email.png' ) }} alt="No Email?">
                </a>
                <h2>Contáctanos:</h2>
            </div>
        </footer>
</body>

</html>