<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> Se preparooo se puso linda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>

<body>

    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
        <img id="ola" src={{ url_for('static', filename='img/jijijija.jpeg' ) }} alt="jijijija :(">
    </a>

    <div id="temazo">
        <p>
            Se preparooo se puso linnda a amiga llamaba <br>

            Salió de rumba nada le importó <br>

            Porque su novio a ella la engañaba <br>

            Como si nada <br>

            Ella se preparó se puso linda a su amiga llamaba <br>

            Salió de rumba nada le importó <br>

            Porque su novio a ella la engañaba <br>

            Como si nada <br>

            Sale a olvidar las penas y el sufrimiento <br>

            El novio la hizo llorar mato su sentimiento <br>

            Prometió palabras que se fueron con el viento <br>

            Ahora ella le dice lo lamento lo siento <br>

            Hoy ella hace lo que quiera <br>

            Se monta en su nave a quemar la carretera <br>

            Le mete al baile con la música buena <br>

            Dale champagne y se prende en candela <br>

            Esa es mi nena <br>

            Hoy ella hace lo que quiera <br>

            Se monta en su nave a quemar la carretera <br>

            Le mete al baile con la música buena <br>

            Dame la champagne y se me prende en candela <br>

            Esa es mi nena <br>

            Se preparó se puso linda a su amiga llamaba <br>

            Salió de rumba nada le importó <br>

            Porque su novio a ella la engañaba <br>

            Como si nada <br>

            Ella se preparó se puso linda a su amiga llamaba <br>

            Salió de rumba nada le importó <br>

            Porque su novio a ella la engañaba <br>

            Como si nada <br>

            Ese bobo se perdió a esa mamacita tan chula <br>

            Yo la vi en el club, la imagino desnuda <br>

            Tiene dos amiga' que parecen de película <br>

            Que dondequiera que llegan hacen la' demá' lucir ridícula' <br>

            Un hermoso cuerpo <br>

            Yo te lo aseguro que como ella no hay dos <br>

            Él le falló y ella se rebeló <br>

            Con sus amiga' de rumba salió, se le dio <br>


            Hoy ella hace lo que quiera <br>

            Se monta en su nave a quemar la carretera <br>

            Le mete al baile con la música buena <br>

            Dale champán y se prende en candela, esa e' mi nena <br>

            Hoy ella hace lo que quiera <br>

            Se monta en su nave a quemar la carretera <br>

            Le mete al baile con la música buena <br>

            Dame la champán y se me prende en candela, esa e' mi nena <br>


            Se preparó <br>

            Se puso linda, a su amiga llamaba <br>

            Salió de rumba (-ba), nada le importó <br>

            Porque su novio a ella le engañaba como si nada <br>

            Ella se preparó <br>

            Se puso linda, a su amiga llamaba <br>

            Salió de rumba, nada le importó (No le importó, oh-oh) <br>

            Porque su novio a ella le engañaba como si nada <br>


            Uoh-oh, jaja <br>

            Baby <br>

            Ozuna <br>

            Chris Jeday <br>

            Odisea, the album, jaja <br>

            Gaby Music <br>

            Hi Music Hi Flow <br>

            (Hi Music Hi Flo-o-ow) <br>

            Maxium, jaja <br>

            Dímelo Vi <br>

            «Ella y Yo» es el cuarto sencillo del álbum God's Project del grupo de bachata Aventura con la participación
            de Don Omar.


            Índice
            1 Video musical
            2 Posicionamiento en las listas
            3 Referencias
            4 Enlaces externos
            Video musical
            El vídeo musical trata de la conversación que mantiene Don Omar con Romeo Santos acerca de la infidelidad
            del primero con una mujer casada. El video se desenvuelve con Don Omar exponiendo cómo el amor con su amante
            fue desarrollándose, mientras Romeo aconseja y expone la relación con su esposa como el rumbo que Don Omar
            debe tomar con su amor secreto para terminarlo a buen modo. El punto clave y brillante de la letra y del
            video de la canción es que se trata a Romeo, el vocalista de Aventura, como un personaje terciario y
            primario en la misma historia, siendo este el buen amigo y, como se ve al final, el esposo engañado
            sentimentalmente. Después de una conversación dolorosa para Don Omar, este se decide a confesar a su amigo
            Romeo que él es en realidad el esposo de la mujer al que él frecuenta. Dicho esto, riñen por unos momentos,
            acabando con una queja terminante que aparentemente los separa.

            Posicionamiento en las listas
            Lista (2005) Mejor posición
            Billboard Hot 1001​ 97
            Billboard Hot Latin Tracks2​ 2
            Billboard Tropical Songs3​ 1
            Billboard Regional Mexican Songs4​ 32
            Referencias
            «Don Omar Ella Y Yo Chart History». Billboard. Consultado el 31 de enero de 2018.
            «Don Omar Ella Y Yo Chart History». Billboard. Consultado el 31 de enero de 2018.
            «Don Omar Ella Y Yo Chart History». Billboard. Consultado el 31 de enero de 2018.
            «Regional Mexican Songs - 2005 Archive | Billboard Charts Archive». Billboard (en inglés). Consultado el 31
            de enero de 2018.
            Enlaces externos
            Letra de la canción de Aventura
            Go
            And another one
            That's right
            Go
            Dominicans
            Boricuas
            Hands up
            In their feet, everybody come on
            No hay pa' nadie pa'
            Y me fui con los bachateros
            (Aventura) Nasty
            Ella y yo
            Dos locos viviendo una aventura castigada por Dios
            Un laberinto sin salida donde el miedo se convierte en amor
            Somos su marido, ella y yo
            Mi esposa y yo
            Igual que ustedes compartimos en la vida un eterno amor
            La dama perfecta, toda una belleza, ella es mi inspiración
            Somos feliz ella y yo
            Ella y yo
            Amigo, ella y yo
            Solo nos vemos a escondidas para ahogar esta prohibida pasión
            Y aunque tiene dueño, yo solo tengo un sueño, ser su protector
            Somos marido ella y yo
            Oye Don, lucha por amor
            No me aconsejes en tu posición
            Quizás su marido no mande en su corazón
            No sabes quién es víctima en la confusión
            Oye mi pana, lucha por amor
            No, no me aconsejes en tu posición
            Quizás ese tipo no mande en su corazón
            Tú no sabes quién es víctima en esta confusión
            Mi esposa y yo
            Somos felices, dos almas matrices, sé lo que es el amor
            Por eso te entiendo y aunque sea casada no te alejes por temor
            No lo hagas Don, ay no no no
            Mi amigo ella y yo
            Teníamos claro que era una locura esta relación
            Pero la carne nos llamaba y la cama nos hacía una invitación
            A solo hacer el amor
            Ay, ya te expliqué
            Cuando hay personas que se aman el amor tiene que vencer
            Y que el marido entienda que perdió su hembra, ahora es tu mujer
            No pueden ganar los tres
            Y te repito, lucha por amor
            No me aconsejes en tu posición
            Quizás su marido no mande en su corazón
            Tú no sabes quién es víctima en esta confusión
            No seas tan tonto, lucha por amor
            No, no me aconsejes en tu posición
            Quizás ese tipo no mande en su corazón
            Tú no sabes quién es víctima en esta confusión
            Amigo pido perdón, yo nunca te fallé
            Me traicionaron las ganas de volverla a ver
            Y aunque todavía no puedo creer
            Lo que este amargo encuentro me hizo comprender
            Pues tú también llegaste a ese lugar
            Donde tantas veces yo la fui a buscar
            Y aunque no es fácil lo que voy a hacer
            Admitiré que salí con tu mujer
            Salí con tu mujer
            ¿Qué?
            Salí con tu mujer
            No, yo no estoy creyendo esto
            Salí con tu mujer
            No, no
            Salí con tu mujer
            Que te perdone Dios, yo no lo voy a hacer
            Los perdí a los dos y a la misma vez
            Ya veo que todo era mentira cuando ella me decía
            Que se iba pa' Puerto Rico a vacaciones con su amiga
            Me mintió
            Tú y ella en una cama, allá en Bayamo
            Quizás en Isla Verde o Carolina, cuántos hoteles ensució
            Tú también, los odio a los dos
            No me entiende
            Que yo soy quien más sufro con todo esto, me mata el dolor
            Fue una traición
            Perdí un amigo por la tentación
            Perdón
            ¡Adiós!

        </p>
    </div>
</body>

</html>