{% extends "base.html" %}

{% block content %}
    <div class="calendar">
        <iframe
            src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FMadrid&mode=WEEK&showTz=0&showCalendars=0&showTabs=1&showPrint=0&showDate=1&showNav=1&title=Test%20(Festivos%20Espa%C3%B1a)&src=ZXMuc3BhaW4jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23009688"
            style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no">
        </iframe>
{% endblock %}