{%extends "base.html" %} 

{% block aside %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<div class="calendar-static">
    <iframe
        src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23489b4c&ctz=Europe%2FMadrid&showTz=0&showCalendars=0&showTabs=0&showPrint=0&showNav=1&showDate=1&showTitle=0&src=ZXMuc3BhaW4jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23009688"
        style="border-width:0" width="400" height="500" frameborder="0" scrolling="no">
    </iframe>
</div>
{%endblock%}
