{%extends "base.html" %} 

{%block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">

{%endblock%}

{%block content%}
<script type="text/javascript" src="{{url_for('static', filename='js/brick-breaker.js')}}" ></script>
<div class="container"> 
    <h2>¿Quienes Somos?</h2>
    <div class="article-and-image">
        <p>
            Somos un grupo de estudiantes de la Universidad Autónoma de Madrid que nos gusta mucho los videojuegos. 
            Nuestro objetivo es crear un club de videojuegos en la universidad para que todos los estudiantes puedan 
            disfrutar de sus juegos favoritos y crear nuevos proyectos.<br></br>

            Durante los últimos años hemos llevado a cabo varios proyectos, como esta página web y los demás que puedes ver en esta página.
            Si quieres unirte a nosotros, puedes apuntarte al club en el botón de abajo.
        </p>
        <img src={{ url_for('static', filename='img/Logo.png' ) }} alt="Logo Videojuegos UAM" class="normal-img">
    </div>
    <button class="button" onclick="window.location.href='{{ url_for('apuntate') }}'">
        <p><b>Apuntate al club</b></p>
    </button>

    <div class="container">
        <h2>Proyectos</h2>
        <div class="row">
                <div class="bigCard">
                    <img src="{{ url_for('static', filename='img/personas/Manupa.png') }}" alt="Manupa" class="normal-img">
                        <h2 class="card-text">Equipo de Desarrollo</h2>
                        <button class="button" onclick>
                            <p><b>Ver más</b></p>
                        </button>
                        <p  class="card-text">Texto de ejemplo para rellenar el espacio</p>
                </div>
        </div>
</div>

<div>
    {% for project in projects %}
    <h1>{{ project.titulo }}</h1>
    <p>{{ project.descripcion_corta }}</p>
    <p>{{ project.descripcion_larga }}</p>
    <a href={{ url_for('project', name=project.titulo) }}>test link</a>
    {% endfor %}
    Esto iría arriba pero para probar aquí está xD
</div>

<div class="container">
    <h2>Brick Breaker Game</h2>
    <canvas id="brick-breaker" class="game" width="700" height="700"></canvas>
    <p id="centered">Juego hecho por Github Copilot (Con ayuda de Manupa)</p>
</div>
{%endblock%}