{%extends "base.html" %} 

{%block head%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sobre-nosotros.css') }}">
{%endblock%}

{%block content%}
    <div class="container"> 
        <h2>Sobre Nosotros</h2>
        <p>La Asociación de Videojuegos de la Universidad Autónoma de Madrid es una asociación sin ánimo de lucro que nace en el año 2017 con el objetivo de promover la cultura de los videojuegos en la Universidad Autónoma de Madrid. Para ello, organiza eventos, torneos, charlas, etc. para que los estudiantes de la UAM puedan disfrutar de su pasión por los videojuegos.</p>
        <p>La asociación está formada por un grupo de estudiantes de la UAM que comparten la misma pasión por los videojuegos y que quieren que esta pasión se vea reflejada en la Universidad.</p>
        <p>La asociación está abierta a todo el mundo, tanto a estudiantes de la UAM como a cualquier persona que quiera participar en los eventos que organiza.</p>
        <p>Si quieres formar parte de la asociación, puedes contactar con nosotros a través de nuestro correo electrónico: Generado por Github Copilot</p>
    </div>

    <div class="container">
        <h2>Junta Directiva</h2>
        <div class="row">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/personas/Manupa.png') }}" alt="Manupa" class="normal-img">
                        <h2 class="card-text">Manuel Pablo "Manupa" González</h2>
                        <h3 class="card-text">Presidente</h3>
                        <p  class="card-text">Texto de ejemplo para rellenar el espacio</p>
                </div>
                <div class="card">
                    <img src="{{ url_for('static', filename='img/personas/Manupa.png') }}" alt="Manupa" class="normal-img">
                        <h2 class="card-text">Manuel Pablo "Manupa" González</h2>
                        <h3 class="card-text">Vicepresidente</h3>
                        <p  class="card-text">Texto de ejemplo para rellenar el espacio</p>
                </div>
                <div class="card">
                    <img src="{{ url_for('static', filename='img/personas/Manupa.png') }}" alt="Manupa" class="normal-img">
                        <h2 class="card-text">Manuel Pablo "Manupa" González</h2>
                        <h3 class="card-text">Secretario</h3>
                        <p  class="card-text">Texto de ejemplo para rellenar el espacio</p>
                </div>
                <div class="card">
                    <img src="{{ url_for('static', filename='img/personas/Manupa.png') }}" alt="Manupa" class="normal-img">
                        <h2 class="card-text">Manuel Pablo "Manupa" González</h2>
                        <h3 class="card-text">Tesorero</h3>
                        <p  class="card-text">Texto de ejemplo para rellenar el espacio</p>
                </div>
        </div>
    </div>

    

    <div class="container">
        <h2>Miembros Destacados</h2>
        <div class="row">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/personas/Manupa.png') }}" alt="Manupa" class="normal-img">
                        <h2 class="card-text">Manuel Pablo "Manupa" González</h2>
                        <h3 class="card-text">Presidente</h3>
                        <p  class="card-text">Texto de ejemplo para rellenar el espacio</p>
                </div>
                <div class="card">
                    <img src="{{ url_for('static', filename='img/personas/Manupa.png') }}" alt="Manupa" class="normal-img">
                        <h2 class="card-text">Manuel Pablo "Manupa" González</h2>
                        <h3 class="card-text">Vicepresidente</h3>
                        <p  class="card-text">Texto de ejemplo para rellenar el espacio</p>
                </div>
                <div class="card">
                    <img src="{{ url_for('static', filename='img/personas/Manupa.png') }}" alt="Manupa" class="normal-img">
                        <h2 class="card-text">Manuel Pablo "Manupa" González</h2>
                        <h3 class="card-text">Secretario</h3>
                        <p  class="card-text">Texto de ejemplo para rellenar el espacio</p>
                </div>
                <div class="card">
                    <img src="{{ url_for('static', filename='img/personas/Manupa.png') }}" alt="Manupa" class="normal-img">
                        <h2 class="card-text">Manuel Pablo "Manupa" González</h2>
                        <h3 class="card-text">Tesorero</h3>
                        <p  class="card-text">Texto de ejemplo para rellenar el espacio</p>
                </div>
        </div>
    </div>

    <div class="container">
        <h2>Fundadores</h2>
        <div class="row">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/personas/Manupa.png') }}" alt="Manupa" class="normal-img">
                        <h2 class="card-text">Manuel Pablo "Manupa" González</h2>
                        <h3 class="card-text">Presidente</h3>
                        <p  class="card-text">Texto de ejemplo para rellenar el espacio</p>
                </div>
                <div class="card">
                    <img src="{{ url_for('static', filename='img/personas/Manupa.png') }}" alt="Manupa" class="normal-img">
                        <h2 class="card-text">Manuel Pablo "Manupa" González</h2>
                        <h3 class="card-text">Vicepresidente</h3>
                        <p  class="card-text">Texto de ejemplo para rellenar el espacio</p>
                </div>
                <div class="card">
                    <img src="{{ url_for('static', filename='img/personas/Manupa.png') }}" alt="Manupa" class="normal-img">
                        <h2 class="card-text">Manuel Pablo "Manupa" González</h2>
                        <h3 class="card-text">Secretario</h3>
                        <p  class="card-text">Texto de ejemplo para rellenar el espacio</p>
                </div>
                <div class="card">
                    <img src="{{ url_for('static', filename='img/personas/Manupa.png') }}" alt="Manupa" class="normal-img">
                        <h2 class="card-text">Manuel Pablo "Manupa" González</h2>
                        <h3 class="card-text">Tesorero</h3>
                        <p  class="card-text">Texto de ejemplo para rellenar el espacio</p>
                </div>
        </div>
    </div>

    <div class="container">
        <h2>Pagina Creada por</h2>
        <div class="row">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/personas/Manupa.png') }}" alt="Manupa" class="normal-img">
                        <h2 class="card-text">Manuel Pablo "Manupa" González</h2>
                        <h3 class="card-text">Presidente</h3>
                        <p  class="card-text">Texto de ejemplo para rellenar el espacio</p>
                </div>
                <div class="card">
                    <img src="{{ url_for('static', filename='img/personas/Manupa.png') }}" alt="Manupa" class="normal-img">
                        <h2 class="card-text">Manuel Pablo "Manupa" González</h2>
                        <h3 class="card-text">Vicepresidente</h3>
                        <p  class="card-text">Texto de ejemplo para rellenar el espacio</p>
                </div>
                <div class="card">
                    <img src="{{ url_for('static', filename='img/personas/Manupa.png') }}" alt="Manupa" class="normal-img">
                        <h2 class="card-text">Manuel Pablo "Manupa" González</h2>
                        <h3 class="card-text">Secretario</h3>
                        <p  class="card-text">Texto de ejemplo para rellenar el espacio</p>
                </div>
                <div class="card">
                    <img src="{{ url_for('static', filename='img/personas/Manupa.png') }}" alt="Manupa" class="normal-img">
                        <h2 class="card-text">Manuel Pablo "Manupa" González</h2>
                        <h3 class="card-text">Tesorero</h3>
                        <p  class="card-text">Texto de ejemplo para rellenar el espacio</p>
                </div>
        </div>

    </div>

    <div class="container">
        
    </div>
{%endblock%}
    
{%block aside%}
    
{%endblock%}