{%extends "base.html" %} 

{%block head%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sobre-nosotros.css') }}">
{%endblock%}

{%block content%}
<script type="text/javascript" src="{{url_for('static', filename='js/pong.js')}}" ></script>
    <div class="container"> 
        <h2>Sobre Nosotros</h2>
        <div class="article-and-image">

        <p>La Asociación de Videojuegos de la Universidad Autónoma de Madrid es una asociación sin ánimo de lucro  con el objetivo de promover la cultura de los videojuegos en la Universidad Autónoma de Madrid. Para ello, organiza eventos, torneos, charlas, etc. para que los estudiantes de la UAM puedan disfrutar de su pasión por los videojuegos.<br><br>
        La asociación está formada por un grupo de estudiantes de la UAM que comparten la misma pasión por los videojuegos y que quieren que esta pasión se vea reflejada en la Universidad.<br><br>
        La asociación está abierta a todo el mundo, tanto a estudiantes de la UAM como a cualquier persona que quiera participar en los eventos que organiza.
        Si quieres formar parte de la asociación, puedes rellenar la encuesta del apartado "Apuntate".<br><br>
        Para cualquier otra duda, puedes contactar con nosotros a través de nuestro correo electrónico y nuestras redes sociales.</p>
    </div>
    <button class="button" onclick="location.href='{{ url_for('apuntate') }}'">
        <p><b>Apuntate al club</b></p>
    </button>
    </div>

    <div class="container">
        <h2>Junta Directiva</h2>
        <div class="row">
                {% for j in junta %}
                <div class="card">
                    <img src="{{ url_for('static', filename='img/personas/' + j.url) }}" alt="Manupa" class="normal-img">
                        <h2 class="card-text">{{j.nombre}}</h2>
                        <h3 class="card-text">{{j.datos.posicion}}</h3>
                        <p  class="card-text">{{j.datos.descripcion}}</p>
                </div>
                {% endfor %}
        </div>
    </div>

    

    <div class="container">
        <h2>Miembros Destacados</h2>
        <div class="row">
                {% for m in destacados %}
                <div class="card">
                    <img src="{{ url_for('static', filename='img/personas/' + m.url) }}" alt="Manupa" class="normal-img">
                        <h2 class="card-text">{{m.nombre}}</h2>
                        <h3 class="card-text">{{m.datos.posicion}}</h3>
                        <p  class="card-text">{{m.datos.descripcion}}</p>
                </div>
                {% endfor %}
        </div>
    </div>

    <div class="container">
        <h2>Fundadores</h2>
        <div class="row">
                {% for f in fundadores %}
                <div class="card">
                    <img src="{{ url_for('static', filename='img/personas/' + f.url) }}" alt="Manupa" class="normal-img">
                        <h2 class="card-text">{{f.nombre}}</h2>
                        <h3 class="card-text">{{f.datos.posicion}}</h3>
                        <p  class="card-text">{{f.datos.descripcion}}</p>
                </div>
                {% endfor %}
        </div>
    </div>

    <div class="container">
        <h2>Pagina Creada por</h2>
        <div class="row">
                {% for p in web %}
                <div class="card">
                    <img src="{{ url_for('static', filename='img/personas/' + p.url) }}" alt="Manupa" class="normal-img">
                        <h2 class="card-text">{{p.nombre}}</h2>
                        <h3 class="card-text">{{p.datos.posicion}}</h3>
                        <p  class="card-text">{{p.datos.descripcion}}</p>
                </div>
                {% endfor %}
        </div>

    </div>

    <div class="container">
        <h2>Pong Game</h2>
        <canvas id="pong" class="game" width="700" height="700"></canvas>
        <p id="centered">Juego hecho por Github Copilot (Con ayuda de Manupa)</p>
    </div>
{%endblock%}
    
{%block aside%}
    
{%endblock%}